                     <meta charset="utf-8">
                    **Game Design Document**
                         _by our team_


Overview
======================================================================

*Tag Line:* "Do you have a red thumb?"

*Pitch:* _Dark Souls_ meets _The Martian_

*Setting:* A terraformed settlement on Mars

*Genre/Mechanics:* Turn-based Euro-management


Mechanics
======================================================================


Reference Art
======================================================================


Change Log
======================================================================

Session 1
----------------------------------------------------------------------

Use F8 to capture GIFs and F6 for screenshots that you can insert here.

Use the Copy button on the Stats pane of the debugger to copy your
performance and program size tables to here.

[x] Check off 
[x] Tasks you've completed from `todo()` statements


<style>
body, .md a { font-family: Verdana, Arial }
em.asterisk { font-style: normal; font-weight: bold; }
</style>

<!-- Markdeep: --><script src="doc/markdeep.min.js"></script><script src="https://casual-effects.com/markdeep/latest/markdeep.min.js?"></script>

