<html>
  <head>
    <title>Game Design Document</title>
    <style>
      body { font-family: Verdana, Arial; background: #fff; color: #333 }
    </style>
  </head>
  <body>

    <center>
      <b>Game Design Document</b>
      <br><i>by our team</i>
    </center>


    <h1>Overview</h1>
    
    <p>
      <b>Tag Line:</b> "Do you have a red thumb?"
    </p>

    <p>
      <b>Pitch:</b> _Dark Souls_ meets _The Martian_
    </p>

    <p>
      <b>Setting:</b> A terraformed settlement on Mars
    </p>

    <p>
      <b>Genre/Mechanics:</b> Turn-based Euro-management
    </p>


    <h1>Mechanics</h1>

    <h1>Reference Art</h1>

    <h1>Change Log</h1>

    <h2>Session 1</h2>

    <p>
      Use F8 to capture GIFs and F6 for screenshots that you can insert here.
    </p>

    <p>
      Use the Copy button on the Stats pane of the debugger to copy your
      performance and program size tables to here.
    </p>

    <ul>
      <li>
        Check off
      </li>
      <li>
        Tasks you've completed from <code>todo()</code> statements
      </li>
    </ul>
  </body>
</html>

