# Unless explicitly added, ignore .debug.json files
# because they are supposed to be per-machine/per-user.
*.debug.json

# macOS indexing files
.DS_Store

# Temporary files left by editors
*.sw*
*~
__pycache__
